<section id="solution" class="section all-in-one"> <div class="container-fluid"> <div class="row"> <div class="img-stack"> <img src="images/blimp.2a80b159.jpg" id="blimp-box" alt="" class="img-responsive"> <img src="images/blimp-gray-scale.ca8e6ee7.jpg" id="blimp-box-gray-scale" alt="" class="img-responsive"> <div class="all-in-one-text"> <div class="text-center"> <!-- <h1 class="highlight-title">Your Private <span class="span-orange">Cloud at Home</span></h1> --> <h1 class="highlight-title">Your Private Cloud at Home</h1> <h3 class="sub-title animated" data-effect="fadeInRight"> Finally be in control of your data again! </h3> </div> <div class="col-md-8 col-md-offset-2"> <div class="text-center"> <p> <!-- We believe that everyone has a right to data
                                         privacy! We value having this privilege – --> The CloudFleet Blimp is a device that enables you to communicate securely via email, manages your files, calendar and contacts. It is easy to use, keeps your personal data safe and secure and will grow into a smart personal assistant. </p><p> </p></div> </div> <!--</div>--> <!--<div class="row">--> <div class="clearfix"></div> <div class="text-center"> <!--<h1 class="highlight-title subscribe-title">Subscribe to our <span class="span-orange">newsletter</span>--> <!--</h1>--> <br><br> <!-- <h3 class="sub-title animated" data-effect="fadeInRight">
                                Subscribe to our newsletter
                            </h3>
                            <p>Be the first to know when it's ready!</p> --> <!-- <p>Subscribe to our newsletter</p>--> <div class="input-group col-xs-10 col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 col-xs-offset-1"> <span class="input-group-btn"> <a href="https://www.indiegogo.com/projects/cloudfleet-your-private-encrypted-cloud-at-home/x/4096670#/"> <button class="btn btn-lg btn-cl subscribe-btn" type="button"> Back us on IndieGoGo </button> </a> </span> </div> <!-- <form action="https://crofting.us7.list-manage.com/subscribe/post?u=a7adf48ebdd9f26bfb92c5715&amp;id=4b3578aa5d"
                                 method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                 class="validate" target="_blank" novalidate role="form">

                                 <div class="input-group col-xs-10 col-md-4 col-sm-6  col-md-offset-4 col-sm-offset-3 col-xs-offset-1">


                                 <input type="email" name="EMAIL" placeholder="Enter your e-mail" id="mce-EMAIL"
                                 class="form-control input-lg bg-white"/>
                                 <span class="input-group-btn">
                                 <button class="btn btn-lg btn-cl subscribe-btn" type="button" id="mc-embedded-subscribe"
                                 onclick="document.getElementById('mc-embedded-subscribe-form').submit();">
                                 Get notified
                                 </button>
                                 </span>
                                 </div>
                                 </form> --> </div> </div> </div> </div> </div> </section>