
@font-face {
    font-family: 'abraham_lincolnregular';
    src: url('../fonts/abrahamlincoln-webfont.eot');
    src: url('../fonts/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/abrahamlincoln-webfont.woff2') format('woff2'),
    url('../fonts/abrahamlincoln-webfont.woff') format('woff'),
    url('../fonts/abrahamlincoln-webfont.ttf') format('truetype'),
    url('../fonts/abrahamlincoln-webfont.svg#abraham_lincolnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}