<div id="mainFooter">
<!--
       ////footer ///////////////////////////////////////////////////////
   -->
<footer id="footer">
    <section id="contact" class="section contact">

        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="highlight-title white">Get in Touch</h1>

                    <h2 class="sub-title animated col-md-10 col-md-offset-1 white" data-effect="fadeInRight">If you'd like
                        to talk to one of the
                        team about how CloudFleet can help,<br class="visible-md visible-lg"> we
                         would love to hear from you.</h2>
                </div>
            </div>
        </div>
        <div class="container secondChild">
            <div class="row">
                <div class="col-md-6">
                    <p>Follow us on Twitter and Facebook or read our blog for our daily news. </p>


                    <ul class="fa-ul">
                        <li><a href="https://www.facebook.com/cloudfleetio" target="_blank"
                               title="follow CloudFleet on Facebook"><i class="fa-li fa fa-facebook"></i>facebook.com/cloudfleetio</a>
                        </li>
                        <li><a href="https://twitter.com/cloudfleetio" target="_blank"
                               title="follow CloudFleet on Twitter"><i class="fa-li fa fa-twitter"></i>twitter.com/cloudfleetio</a>
                        </li>
                        <li><a href="https://cloudfleet.io/blog" target="_blank"
                               title="read the CloudFleet blog"><i class="fa-li fa fa-rss"></i>cloudfleet.io/blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">

                    <p><span class="email-us">Email us, say hello</span> <br>

                    <h2><a href="mailto:admiralty@cloudfleet.io">admiralty@<span
                            class="span-orange">cloudfleet.io</span></a></h2></p>

                </div>

            </div>
        </div>
    </section>
    <section class="section bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright">&copy; 2014 All rights reserved. <span
                            class="span-orange">cloud</span>fleet
                    </div>
                </div>

            </div>
        </div>

    </section>
</footer>
</div>
