<div main-header></div>
    <!--
    ////Order form ///////////////////////////////////////////////////////
    -->
    <section id="features" class="section features">
        <div class="container">
            <div class="row text-center">

                <h1 class="highlight-title ">Order a <span class="span-orange">Blimp</span></h1>

                <h3 class="sub-title animated" data-effect="fadeInRight">Fill out this simple form and get yours!</h3>

                <form id="order-form" class="form-horizontal" ng-submit="cloudfleetSendOrder()">
                <fieldset>

                <!-- Form Name -->
                <legend>Order blimp</legend>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="domain">Domain</label>
                  <div class="col-md-4">
                  <input id="domain" name="domain" type="text" placeholder="mycooldomain.com" class="form-control input-md" required="">
                  <span class="help-block">Tell us on which domain you would like to access your blimp.</span>
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="username">User name</label>
                  <div class="col-md-4">
                  <input id="username" name="username" type="text" placeholder="johndoe" class="form-control input-md" required="">
                  <span class="help-block">The username you would like to use the first time you are logging into the blimp.</span>
                  </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="password">Password</label>
                  <div class="col-md-4">
                    <input id="password" name="password" type="password" placeholder="donthackme" class="form-control input-md" required="">
                    <span class="help-block">The password you would like to use the first time you are logging into the blimp.</span>
                  </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="order">Finalise the order</label>
                  <div class="col-md-4">
                    <button id="order" name="order" class="btn btn-success">Order</button>
                  </div>
                </div>

                </fieldset>
                </form>


            </div>
        </div>

    </section>


<div main-footer></div>
