<div id="mainTeam">
<!--
    ////team ///////////////////////////////////////////////////////
    -->
    <section id="team" class="section the-team">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="highlight-title">The <span class="span-orange">Cloud</span>Fleet Team</h1>

                    <h3 class="sub-title animated" data-effect="fadeInRight">Committed to preserving and safeguarding
                        your right to privacy!</h3>
                </div>
            </div>
        </div>
        <div class="container-fluid ">

            <div class="row">
                <div role="tabpanel" class="team-members">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs " role="tablist" id="team-tabs">
                        <li role="presentation"><a href="#team-2" aria-controls="profile" role="tab" data-toggle="tab">
                            <div class="member"><img src="images/team/Mark.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="member-title text-center">Commodore x40</div>
                        </a>
                        </li>
                        <li role="presentation"><a href="#team-3" aria-controls="profile" role="tab" data-toggle="tab">
                            <div class="member"><img src="images/team/Emile.png" alt="" class="img-responsive">
                            </div>
                            <div class="member-title text-center">Captain Chef De Partie</div>
                        </a>
                        </li>
                        <li role="presentation"><a href="#team-4" aria-controls="messages" role="tab" data-toggle="tab">
                            <div class="member"><img src="images/team/Christoph.png" alt="" class="img-responsive">
                            </div>
                            <div class="member-title text-center">Admiral of the Clouds</div>
                        </a>
                        </li>
                        <li role="presentation"><a href="#team-5" aria-controls="settings" role="tab" data-toggle="tab">
                            <div class="member"><img src="images/team/Drazen.png" alt="" class="img-responsive">
                            </div>
                            <div class="member-title text-center">Captain of the Data Blizzard</div>
                        </a>
                        </li>

                        <li role="presentation"><a href="#team-6" aria-controls="settings" role="tab" data-toggle="tab">
                            <div class="member"><img src="images/team/Laura.png" alt="" class="img-responsive">
                            </div>
                            <div class="member-title text-center">Community Commander</div>
                        </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in member-desc" id="team-2">
                            <div class="col-md-3"><h1>Mark Evenson
                            </h1></div>
                            <div class="col-md-9"><p>A seasoned software developer with a strong background in mathematics, Mark relentlessly drives the product development forward on all fronts.
                            </p></div>


                        </div>
                        <div role="tabpanel" class="tab-pane fade in member-desc" id="team-3">
                            <div class="col-md-3"><h1>Emile Harmel</h1></div>
                            <div class="col-md-9"><p>Emile is on a relentless pursuit to create captivating user
                                experiences. His design ideas make the user interface of CloudFleet an outstanding
                                experience.
                            </p></div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade in member-desc" id="team-4">
                            <div class="col-md-3"><h1>Christoph Witzany</h1></div>
                            <div class="col-md-9"><p>For over ten years now Christoph is creating software that makes
                                complex tasks easy for the end user. His conviction that privacy should be available to
                                everyone led him to create the CloudFleet project.
                            </p></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in member-desc" id="team-5">
                            <div class="col-md-3"><h1>Dražen Lučanin</h1></div>
                            <div class="col-md-9"><p>Dražen’s passions are Python and distributed systems. He is just in
                                the process of finishing up his PhD at the TU Vienna while building the infrastructure
                                for CloudFleet.
                            </p></div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade in member-desc" id="team-6">
                            <div class="col-md-3"><h1>Laura Gaetano</h1></div>
                            <div class="col-md-9"><p>Laura likes to help people - as a Ruby programmer, a coach and
                                a co-organizer for various events such as RailsGirls and PyLadies in Vienna and abroad.
                                She keeps track of CloudFleet’s
                                social media presence and helps our users when they have questions.
                            </p></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
